//BARRA LATERAL ESQUERDA

//logo
.apg-nav-logo {

	img {
		width: auto;
	    max-width: 160px;
	    max-height: 160px;		
	}

}

.apg-nav {
	
	.nav-link {
		color: $dark;

		&.active {
			color: $primary;
			font-weight: bold;
		}
	}
}

